<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Nombre del modulo
      <small>Panel de control</small>
    </h1>
  </section>

  <!-- Main content -->
  <section class="content">

    <button type="button" class="btn btn-link">Crear Modulo</button>

    <button type="button" class="btn btn-link">Crear Accion</button>

  </section><!-- /.content -->

</div><!-- /.content-wrapper -->